:root {
  --card-bgcolor: #cdeae1;

  --green-1: hsl(159, 53%, 62%);
  --green-2: hsl(159, 57%, 69%);
  --light-green: hsl(159, 44%, 69%);
  --light-green-card: hsl(161, 42%, 86%);

  --body: #fafbfc;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --text-gray: gray;

  --transition: 0.3s ease;
}

.center {
  text-align: center;
}
.btn-green,
.btn-green-1 {
  background: var(--green-1);
  border: 1px solid var(--green-2);
  transition: var(--transition);
  cursor: pointer;
}
.btn-green:hover {
  border: 1px solid green;
  color: green !important;
  background-color: transparent !important;
}
.btn-green-1:hover {
  opacity: 0.7;
}
.btn-l-green {
  background-color: var(--light-green);
}
.btn-outline-green {
  color: #000;
  font-size: 15px;
  transition: var(--transition);
  border: 1px solid var(--green-2);
}
.btn-outline-green:hover {
  color: white !important;
  background: var(--green-1);
}
/* .text-gray {
  color: var(--text-gray);
} */

/* font weights */
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}
.fw-900 {
  font-weight: var(--fw-900);
}
