@import url(./classes.css);

main {
  width: 1290px;
}

/*   ============ HEADER ====================  */
header.main-header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.65),
      30%,
      rgba(0, 0, 0, 0.3)
    ),
    url(../public/img/header.png);
  background-size: cover;
  height: 580px;
}
header .card {
  bottom: -70px;
}
header .card .tab-select button {
  border-width: 2px;
}
section span {
  font-size: 15px;
}
section span,
legend {
  font-weight: 500;
}

/*   ============  FORM ====================  */
form section {
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.45) !important;
}
form section:nth-child(2) {
  flex-grow: 0.5;
  padding: 0;
  border: 0 !important;
}
form section:nth-child(2) select {
  border: 1px solid rgba(0, 0, 0, 0.45) !important;
}
legend {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 0 10px;
  width: auto;
  position: absolute;
  top: -10px;
  background-color: white;
  left: 20px;
}
fieldset {
  padding: 10px;
}

/*   ============ PLAN TRIPS ====================  */
.plan-trips {
  margin: 200px auto 0;
}
.plan-trips section#places, .plan-trips .review-cards {
  grid-template-columns: 31.7% 31.7% 31.7%;
}
.plan-trips aside {
  background: url(../public/img/cards/card/flights.png),
    linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  background-blend-mode: darken;
  background-position: center;
  width: 90%;
}

.plan-trips aside:last-of-type {
  background-image: url(../public/img/cards/card/hotels.png),
    linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}
.plan-trips .review-card {
  box-shadow: 17px 14px 1px 2px var(--light-green-card),

    0px 2px 6px 2px rgb(211, 211, 211, 0.2),
    0px 2px 6px 2px rgb(211, 211, 211, 0.2),
    0px 2px 6px 2px rgb(211, 211, 211, 0.2);  
  margin-bottom: 100px;
}
