* {
  font-family: "Montserrat";
  text-decoration: none !important;
}
body {
  background-color: #fafbfc;
}
section span, legend {
  font-weight: 500;
}
main {
  /* max-width: 1290px; */
  /* width: 90%; */
  width: 1200px;
}
header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), 30%,  rgba(0, 0, 0, 0.3)),
    url(../public/img/header.png);
  background-size: cover;
  height: 580px;
}
header .card {
  bottom: -70px;
}
header .card .tab-select button {
  border-width: 2px;
}
legend {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 0 10px;
  width: auto;
  position: absolute;
  top: -10px;
  background-color: white;
  left: 20px;
}
fieldset {
  padding: 10px;
}