/* make your own css override bootstraps' */
/* @import url(../node_modules/bootstrap/dist/css/bootstrap.min.css); */

/* css imports */
@import url(./main.css);
@import url(./classes.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css);

* {
  font-family: "Roboto";
  font-display: visible;
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}
body {
  background-color: var(--body);
}
main {
  max-width: 1190px;
}

/* @font-face {
  font-family: "Trade Gothic W02 Bold Cn 20";
  src: url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.eot");
  src: url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/578ebf91174f9ab5683a66c2609ab000.svg#Trade Gothic W02 Bold Cn 20")
      format("svg");
} */
